
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background: #888;
  padding: 10px 30px;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 100px;
}

.cards {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: #111;
  color: white;
  padding: 15px;
  width: 250px;
  border-radius: 12px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.passport {
  width: 120px;
  height: 150px;
  object-fit: cover;
}

button {
  background: #ff007f;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  color: white;
}